*{
    margin: 0;
    padding: 0;    
}

// --------------- Header --------------- //

.headerNavbar {
    background-color: brown;
    color:white;
    text-align: center;
    position:fixed;
    height:45px;
    min-width: 100vw;
    z-index: 1;
    padding-top: 10px;
    
    &__link {
    text-decoration:none;
    color: white;
    font-family: 'Spectral', serif;
    font-style: italic;
    font-weight:bold;
    text-align: center; 
    font-size: 20px;
    
    &:hover {
        color: rgb(62, 238, 209);
        box-shadow: 0px 2px 0px white; 
    }}

    &__li{ 
        list-style-type: none;
        display:inline-block;
        width: 18%;
        font-size: 20px;
    }

}

// --------------- Footer --------------- //

.footerGrad {
    text-align: center;
    padding: 8px 0px 25px 0px;
    background-image:linear-gradient(to right, rgba(165, 42, 42), rgba(165, 42, 42, .1));   
    
    &__piePagP {
        padding: 1px;
        margin-top: 10px;
    }
}


 